.env
__pycache__/
*.pyc
.venv/
venv/
*.egg-info/
dist/
build/
pgdata/
Zone.Identifier
# ✅ Permitir archivos de datos (Excel con activos)
!Anexo\ A.\ ACTIVOS\ 2026.xls
!Programacion\ Matriz\ Inventario\ Fisico\ Bienes\ Asamblea\ Caldas\ \(2\).xlsx
